# Cle secrete Flask - a changer en production !
SECRET_KEY=change-moi-avec-une-vraie-cle-secrete-aleatoire

# URI de la base de donnees
DATABASE_URL=sqlite:///cyberscan.db

# Cle Fernet pour le chiffrement des resultats de scan
# Generer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=GENERER_UNE_CLE_ICI

# Cle API VirusTotal (gratuite sur https://www.virustotal.com)
VIRUSTOTAL_API_KEY=VOTRE_CLE_ICI
